body{
    font-size:20px;
}

h1{
    font-size: 5rem;
    color: red;
}

.nuevo_post h1{
    font-size: 3.5rem;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
    h1{
        color: red;
        font-size: 5rem;
    }
    .nuevo_post h1{
        font-size: 3.5rem;
    }
}