body{
    font-size:20px;
    padding: 1px;;
    margin: 1px;
}

h1{
    font-size: 5rem;
    color: red;
}

header h1{
    text-align:center;
    grid-column:  2/ span 3;
    
  
    margin: 1px;
    padding: 1px;
    font-size: 9rem;
    

}

header h4{
    
    text-align: left;  
    grid-row-start:2;
    grid-row-end:3;
    grid-column: 3/ span 4;
    
    padding-left: 20%;
    margin: 1px;
    margin-bottom: 10%;
    font-size: 1.25rem;
   
}

header{
    display:grid;
   
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
    
    justify-content:center;
}
nav{
    
    height:55px;
    display: grid;
    
    
    background-color:saddlebrown;
    grid-template-columns: repeat(4,10rem);
    
    grid-column-gap: 5px;
    align-content: center;
    justify-content:end;
    padding-right: 5px;
    
    
    
    
    
    
}

nav a{
    display:grid;
    height:35px;
    width: 10rem;
    text-align:center;
    font-size: 1.15rem;
    align-items: center;
    color: darkseagreen;
    border-radius: 5px;
    
    
   
    
    
    text-decoration: none;
}

nav a:hover{
    background-color: darkseagreen;
     color:saddlebrown;
}
.nuevo_post h1{
    font-size: 3.5rem;
}

.container{
    width: 100%;
   
    background-color: burlywood;
    margin: 0 auto;
}


@media only screen and (min-width: 360px) and (max-width: 600px){
  
}